# Join Statements

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
import sqlite3
import pandas as pd
# Connecting to the Database
conn = sqlite3.Connection('data.sqlite')
cur = conn.cursor()

In [3]:
cur.execute("""select * from employees
                ;""")


df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df. columns = [i[0] for i in cur.description]
print(len(df))
df.head()

23

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA)

## Display the names of all the employees in Boston.

In [2]:
cur.execute("""select firstName, lastName from employees
                join offices using(officeCode)
                where city = 'Boston'
                ;""")


df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df. columns = [i[0] for i in cur.description]
print(len(df))
df.head()

2

  firstName   lastName
0     Julie   Firrelli
1     Steve  Patterson

## Do any offices have no employees?

In [10]:
cur.execute("""select * from employees
                where officeCode is null
;""")


df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe

print(len(df))
df.head()

0

Empty DataFrame
Columns: []
Index: []

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!